<!-- todo_create.html -->
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'summernote/summernote.css' %}">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Todo 생성</button>
    </form>
    
    <script src="{% static 'summernote/summernote.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('textarea').summernote({
                height: 200,
                dialogsInBody: true,
            });
        });
    </script>
</body>
</html>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}  <!-- form.as_p로 폼을 렌더링합니다. -->
    <button type="submit" class="btn btn-primary">Create Todo</button>
</form>

{% extends 'todo_form.html' %}
